#map {
    height : 600px;
    width : 800px;
}


#instruction1{
    display: flex;
    align-items: center;
}

#rectDrawIcon, #rectEditIcon {
    padding: 0rem 0.5rem 0rem 0.5rem; 
    width: 24px;
    height: 24px;
}

#content {
    display: flex;
    flex-direction: row;
}

#controls {
    padding : 0.5rem;
}

#warningMsg {
    display: none;
    align-items: center;
}

#timePeriod {
    width: 3em;
}

#timePeriodDisplay {
    padding : 0.5rem 0rem 0.5rem 0rem; 
}

#footer {
    padding-top: 0.5rem;
}

#paramsForm {
    display : flex;
    flex-direction: column;
    gap : 0.5rem;
}